.header-info-div{
position: relative;
max-width:1440px ;
display: flex;
flex-wrap: wrap;
flex-direction: column;
padding-left:160px;
background-repeat: no-repeat;
height: auto;
background: url(../../../public/images/background.png);
background-repeat: no-repeat;
background-position:right;
background-size:auto;
padding-top: 96px;
}

.stay-connected-section{
height: 40px;
left: 155px;
top: 194px;
display: flex;
flex-direction: row;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 36px;
color: #193E6C;
gap: 9px;

}
.h1{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 120%;
width: 700px;
letter-spacing: 0.02em;
color: #094B72;
padding-bottom: 46px;


}
.p1{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 158%;
width: 590px;
margin-bottom: 35px;
display: flex;
align-items: center;
letter-spacing: 0.5px;
color: #4F4F4F;


}
 .p2{
margin-top:115px;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
color: #8B8C8C;
display: flex;
align-items: center;
letter-spacing: 0.04em;

 }
.girl-img{
position: absolute;
width: 549px;
height: 973.94px;
left: 900px;
top: -120px;


}
.logo-div{
    width: 238px;
    height: 88px;
    padding-bottom: 46px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.logo{
    
    margin-top: 34px;

}
.small-batton{
 width: 86px;
height: 28px;
background: #094B72;
border-radius: 26.5px;
font-size: 14px;
color: #FFFFFF;
border: none

}
.absolute-div{
    position:absolute;
    width: 382px;
    height: 114px;
    background: #FFFFFF;
    border-radius: 10px;
    right: 60px;
    bottom:-150px;
    align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
.abs-p1{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #33475B;

}
.abs-p2{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #87898C;
    
}