.header-info-div{
position: relative;
max-width:1440px ;
display: flex;
flex-wrap: wrap;
flex-direction: column;
padding-left:160px;
background-repeat: no-repeat;
height: auto;
background: url(../../../public/images/background.png);
background-repeat: no-repeat;
background-position:right;
background-size:auto;

}

.stay-connected-section{
height: 40px;
left: 155px;
top: 194px;
display: flex;
flex-direction: row;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 36px;
color: #193E6C;

}
.h1{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 120%;
width: 700px;
letter-spacing: 0.02em;
color: #094B72;



}
.p1{
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 158%;
width: 590px;
margin-top: 46px;
display: flex;
align-items: center;
letter-spacing: 0.5px;
color: #4F4F4F;

}
.button{
    width: 50px;
}
.girl-img{
position: absolute;
width: 549px;
height: 973.94px;
left: 900px;
top: -120px;


}