.header-content{
    height: 780px;
    width: 100%;
    background:url(../../../../public/images/header-content-bg.png);
    background-position: center;
    ;background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-content-info-background{
   /* background: url(../../../../public/images/Shape.png);*/
    background-repeat: no-repeat;
    background-size: contain;
    height: 558px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 167px;
    margin-left:227px;

}

.header-content-info-heading{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 80px;
color: #FFFFFF;
max-width: 770px ;

}
.header-content-info-text{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
max-width: 470px ;
}
