.cta-div {
  display: flex;
    justify-content: center;
    gap: 130px;
    padding-top: 80px;
    padding-bottom: 80px;
  padding-top: 80px;
  padding-bottom: 80px;


  background: url(../../../public/images/Shape.png);
  background-repeat: no-repeat;
  background-position: 100% 39%;
 }

 .cta-first-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
 }

.p-1 {
width: 570px;
height: 192px;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
color: #333333;

}

 .p-2{
  width: 570px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #999999;
  margin-bottom: 30px;

}
.cta-button {
align-items: center;
width: 270px;
height: 70px;
background: #128c76;
}

.cta-second-div {

}
.shape-img{
width: 306px;
height: 301px;


}
