.main-div{
    height:auto;
    width:auto;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;

}

.main-heading{
    display: flex;
    flex-direction: column;
    width: 1920px;
    background-repeat: no-repeat;
    background-size: contain;
   
}
.h2{
font-size:  48px;
margin-top: 160px;
margin-bottom: 24px;
height: 64px;
width: 770px;
margin-left: 457px;
font-family: Josefin Sans;

}
.p{
height: 30px;
width: 770px;
font-size: 24px;
margin-left: 457px;
color: #999999;
font-family: Josefin Sans;


}
.p2{
height: 30px;
width: 770px;
font-size: 24px;
margin-left: 457px;
color: #999999;
font-family: Josefin Sans;
margin-left: 650px;
margin-bottom: 60px;
}

.card-wrapper{
    display: flex;
    height: 600px;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    margin-left: 200px;
    gap: 30px;
    
}
 .main-button{
    padding-top: 440px;
    padding-bottom: 182px;
    display: flex;
    justify-content: center;

 }
 
 

 